:root {
  --text-color-title: #ffffff;
  --text-color-primary: #000000;
  --btn-text-color: #fefefe;
  --btn-bg-color-primary: #f06400;
  --bg-color-body: #ffffff;
  --bg-color-info: #00b1af;
  --bg-color-footer: #eeeeee;
}

* {
  box-sizing: border-box;
}

body {
  width: 650px;
  height: 1720px;
}
header {
  position: relative;
  width: 650px;
  margin-top: 72px;
}

.header-container {
  position: relative;
  background-image: url("./assets/banner1.png"), url("./assets/banner2.png");
  background-position: left 0px top 55%, right -860% top 55%;
  background-repeat: no-repeat no-repeat;
  width: 650px;
  height: 277px;
  border: 1px solid transparent;
}

.header-logo-container {
  position: absolute;
  top: -68px;
  left: 5px;
  z-index: 50;
}

.header-shadow {
  position: absolute;
  z-index: 10;
  width: 650px;
  height: 277px;
  overflow: hidden;
}

.header-shadow > img {
  opacity: 0.5;
  width: 100%;
}

h1 {
  position: relative;
  top: 97px;
  margin-left: 260px;
  margin-right: 20px;
  z-index: 20;
  width: 373px;
  height: 86px;
  color: var(--text-color-title);
  font-family: "Lease Plan";
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
}

.header-button {
  position: absolute;
  z-index: 20;
  width: 206px;
  height: 47px;
  top: 217px;
  left: 427px;
  font-size: 15px;
  border-radius: 23px;
  border: none;
  text-transform: uppercase;
  background-color: var(--btn-bg-color-primary);
  color: var(--btn-text-color);
  text-align: center;
  /*
  font-family: "Arial - Bold MT";
  */
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.header-button-icon {
  margin: 1px 0px 1px 19px;
}

.top-info-container {
  width: 600px;
  height: 127px;
  margin: 18px 25px 26px 25px;
  background-color: var(--bg-color-info);
}

.top-info-container aside {
  position: relative;
  display: flex;
  flex-direction: column;
  /*
  justify-content: space-evenly;
  */
  flex-basis: 100%;
  color: var(--bg-color-body);
  width: 423px;
  height: 96px;
  margin: 0 87px 0 90px;
  font-family: "Arial MT";
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.info-line-1,
.info-line-3 {
  font-weight: 400;
}

.info-line-1 {
  font-family: "Arial - Bold MT";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 14px;
}

.info-line-2 {
  font-family: "Arial MT";
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.info-line-3 {
  font-family: "Arial - Bold MT";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.info-divider {
  position: absolute;
  top: 85px;
  left: 151px;
  right: 153px;
  width: 119px;
  height: 2px;
  background-color: var(--bg-color-body);
  margin: 0 auto;
}

.info-line-4 {
  font-family: "Arial MT";
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 15px;
}
