/****
  Global Style 
****/

:root {
  --text-color-title: #ffffff;
  --text-color-primary-black: #000000;
  --text-color-primary-orange: #f06400;
  --btn-text-color: #fefefe;
  --btn-bg-color-primary: #f06400;
  --bg-color-body: #ffffff;
  --bg-color-info: #00b1af;
  --bg-color-footer: #eeeeee;
}

* {
  box-sizing: border-box;
}

body {
  width: 650px;
  height: 1720px;
}

/****
  Header Style 
****/

header {
  position: relative;
  width: 650px;
  margin-top: 72px;
}

.header-container {
  position: relative;
  background-image: url("./assets/banner1.png"), url("./assets/banner2.png");
  background-position: left 0px top 55%, right -860% top 55%;
  background-repeat: no-repeat no-repeat;
  width: 650px;
  height: 277px;
  border: 1px solid transparent;
}

.header-logo-container {
  position: absolute;
  top: -68px;
  left: 5px;
  z-index: 50;
}

.header-shadow {
  position: absolute;
  z-index: 10;
  width: 650px;
  height: 277px;
  overflow: hidden;
}

.header-shadow > img {
  opacity: 0.5;
  width: 100%;
}

h1 {
  position: relative;
  top: 97px;
  margin-left: 260px;
  margin-right: 20px;
  z-index: 20;
  width: 373px;
  height: 86px;
  color: var(--text-color-title);
  font-family: "Lease Plan";
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
}

.header-button {
  position: absolute;
  z-index: 20;
  width: 206px;
  height: 47px;
  top: 217px;
  left: 427px;
  font-size: 15px;
  border-radius: 23px;
  border: none;
  text-transform: uppercase;
  background-color: var(--btn-bg-color-primary);
  color: var(--btn-text-color);
  text-align: center;
  /*
  font-family: "Arial - Bold MT";
  */
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.header-button-icon {
  margin: 1px 0px 1px 19px;
}

/****
  Top Info Style 
****/

.top-info-container {
  width: 600px;
  height: 127px;
  margin: 18px 25px 26px 25px;
  background-color: var(--bg-color-info);
}

.top-info-container aside {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  color: var(--bg-color-body);
  width: 423px;
  height: 96px;
  margin: 0 87px 0 90px;
  font-family: "Arial MT";
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.info-line-1,
.info-line-3 {
  font-weight: 400;
}

.info-line-1 {
  font-family: "Arial - Bold MT";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 14px;
}

.info-line-2 {
  font-family: "Arial MT";
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.info-line-3 {
  font-family: "Arial - Bold MT";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.info-divider {
  position: absolute;
  top: 85px;
  left: 151px;
  right: 153px;
  width: 119px;
  height: 2px;
  background-color: var(--bg-color-body);
  margin: 0 auto;
}

.info-line-4 {
  font-family: "Arial MT";
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 15px;
}

/****
  Cars Cards Style 
****/

.card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

.card {
  position: relative;
  width: 288px;
  height: 266px;
  border: 1px solid transparent;
}

.card-price-container {
  position: absolute;
  width: 119px;
  height: 66px;
  color: var(--text-color-primary-black);
  font-family: "Lease Plan";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
  right: 0;
  top: 0;
  margin-left: 159px;
  margin-right: 10px;
}

.old-price {
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 37.01px;
  text-align: left;
  margin-top: -10px;
  margin-bottom: -5px;
}

.current-price {
  color: var(--text-color-primary-orange);
  font-size: 37px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30.69px;
  text-align: left;
}

.current-price-currency {
  color: var(--text-color-primary-orange);
  font-size: 37px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30.69px;
  text-align: left;
}

.info-price {
  color: var(--text-color-primary-orange);
  font-size: 9px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 14.05px;
}

.card-image-container {
  margin-top: 45px;
}

.card-button {
  position: absolute;
  right: 0;
  width: 126px;
  height: 28px;
  border-radius: 14px;
  border: none;
  background-color: var(--btn-bg-color-primary);
  background-image: linear-gradient(to right, #ee4c14 0%, #f06400 100%);
  color: #ffffff;
  font-family: "Lease Plan";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-top: 2px;
  margin-right: 7px;
}

.card-info-container {
  position: absolute;

  width: 191px;
  height: 35px;
  color: #000000;
  font-family: "Arial MT";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20.02px;
  text-align: center;
}

.car-brand {
  font-family: "Arial - Bold MT";
  font-size: 19px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: -10px;
}

.car-version {
  font-family: "Arial MT";
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.card-2,
.card-4 {
  margin-left: 25px;
}

.card-3,
.card-4 {
  margin-top: 55px;
}

.card-1 > .card-info-container {
  width: 191px;
  margin: 28px 47px 0px 46px;
}

.card-2 > .card-info-container {
  width: 178px;
  margin: 28px 80px 0px 71px;
}

.card-3 > .card-info-container {
  width: 204px;
  margin: 55px 80px 0px 46px;
}

.card-4 > .card-info-container {
  width: 124px;
  margin: 55px 110px 0px 98px;
}

.all-cars-button {
  position: relative;
  width: 372px;
  height: 47px;
  border-radius: 23px;
  margin: 0 139px;
  margin-top: 55px;
  background-color: var(--btn-bg-color-primary);
  border: none;
}

.all-cars-button-text {
  width: 283px;
  height: 12px;
  color: var(--btn-text-color);
  font-family: "Arial - Bold MT";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 18px 0px 17px 34px;
}

.all-cars-icon {
  margin: 1px 23px 1px 26px;
}

/****
  Prestations Style 
****/

.prestation-container {
  width: 586px;
  height: 150px;
  margin: 31px 35px 0px 29px;
}

.prestation-title {
  width: 202px;
  height: 13px;
  color: var(--text-color-primary-black);
  font-family: "Arial - Bold MT";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin-left: 1px;
}

.bold-title {
  font-style: normal;
  letter-spacing: 0.72px;
  line-height: normal;
}

.prestation-divider {
  width: 221px;
  height: 5px;
  border: 2px solid var(--text-color-primary-orange);
  background-color: var(--text-color-primary-orange);
  margin-top: -15px;
}

.prestation-card-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.prestation-card {
}

.prestation-card-1 {
  margin-left: 55px;
}

.prestation-card-2 {
  margin-left: 90px;
}

.prestation-card-3 {
  margin-left: 89px;
}

.prestation-card-4 {
  margin-left: 89px;
}

.prestation-card-1,
.prestation-card-2 {
  margin-top: 22px;
}

.prestation-card-3,
.prestation-card-4 {
  margin-top: 17px;
}

.prestation-image-container-1 {
  width: 50px;
  height: 55px;
}

.prestation-image-container-2 {
  width: 57px;
  height: 50px;
}

.prestation-image-container-3 {
  width: 59px;
  height: 55px;
}

.prestation-image-container-4 {
  width: 57px;
  height: 55px;
}

.prestation-info {
}

.prestation-info-1 {
  width: 53px;
  height: 10px;
  color: #000000;
  font-family: "Arial - Bold MT";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  margin: 6px 3px 0px -6px;
}

.prestation-info-2 {
  width: 108px;
  height: 10px;
  color: #000000;
  font-family: "Arial - Bold MT";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  margin: 11px -24px 0px -27px;
}

.prestation-info-3 {
  width: 84px;
  height: 27px;
  color: #000000;
  font-family: "Arial - Bold MT";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  margin: 11px 12px 0px -13px;
}

.prestation-info-4 {
  /* Style for "Perte fina" */
  width: 93px;
  height: 10px;
  color: #000000;
  font-family: "Arial - Bold MT";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  margin: 11px 18px 0px -18px;
}

/****
  Selection Style 
****/

.selection-container {
  width: 653px;
  height: 94px;
  background-color: var(--bg-color-info);
  padding: 21px 28px 22px 24px;
}

.selection-sub-container {
  position: relative;
  width: 601px;
  height: 51px;
  background-color: var(--bg-color-body);
}

.selection-title {
  /* Style for "Sélectionn" */
  position: absolute;
  width: 193px;
  height: 12px;
  color: #000000;
  font-family: "Lease Plan";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin: 19px 392px 20px 16px;
}

.selection-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 206px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #b5b5b5;
  margin: 10px 169px 9px 226px;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select {
  width: 154px;
  height: 13px;
  color: #b2adad;
  font-family: "Lease Plan";
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  padding-right: 33px;
  padding-left: 13px;
}

.selection-button {
  position: absolute;
  width: 127px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--btn-bg-color-primary);
  border: none;
  margin: 10px 7px 9px 458px;
}

.selection-button-text {
  /* Style for "rechercher" */
  width: 73px;
  height: 8px;
  color: #fefefe;
  font-family: "Lease Plan";
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  /* Text style for "rechercher" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-left: -19px;
}

.selection-button-icon {
  position: absolute;
  width: 4px;
  height: 8px;
  color: var(--btn-text-color);
  margin-left: 14px;
}

.test {
  /* Style for "Véhicule d" */
  width: 84px;
  height: 27px;
  color: #000000;
  font-family: "Arial - Bold MT";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "V, éhicule" */
  font-style: normal;
  letter-spacing: 0.54px;
  line-height: normal;
}
